services:
  app:
    image: ghcr.io/starquake/topbanana:latest
    container_name: topbanana
    ports:
      - "8080:8080"
    environment:
      - APP_ENV=production
      - HOST=0.0.0.0
      - PORT=8080
      - DB_URI=file:/home/nonroot/data/topbanana.sqlite?_pragma=foreign_keys(1)&_pragma=journal_mode(WAL)&_pragma=synchronous(NORMAL)&_pragma=busy_timeout(5000)
    volumes:
      - topbanana_data:/home/nonroot/data
    restart: unless-stopped

volumes:
  topbanana_data:
